version: '{build}'
clone_folder: /home/appveyor/projects/udm_standalone
image:
- Ubuntu
configuration:
- RelWithDebInfo

matrix:
  fast_finish: true

install:
  - cd %APPVEYOR_BUILD_FOLDER%
  - git submodule update --init --recursive

platform:
  - x64

before_build:
# build sharedutils
- cmd: |-
    cd /home/appveyor/projects/udm_standalone
    mkdir build
    cd build
    cmake .. -G %generator%
    msbuild c:\projects\udm_standalone\build\udm_standalone.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

build:
  project: /home/appveyor/projects/udm_standalone.sln
  verbosity: normal
  parallel: true
