version: '{build}'
clone_folder: c:\projects\udm_standalone
image:
- Visual Studio 2019
configuration:
- RelWithDebInfo

matrix:
  fast_finish: true

install:
  - cd %APPVEYOR_BUILD_FOLDER%
  - git submodule update --init --recursive

init:
- set arch=
- if "%arch%"=="Win64" ( set arch= Win64)
- echo %arch%
- echo %APPVEYOR_BUILD_WORKER_IMAGE%
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2019" ( set generator="Visual Studio 16 2019%arch%" )
- echo %generator%

before_build:
# build sharedutils
- cmd: |-
    cd c:\projects\udm_standalone
    mkdir build
    cd build
    cmake .. -G %generator%
    msbuild c:\projects\udm_standalone\build\udm_standalone.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

build:
  project: build\udm_standalone.sln
  verbosity: normal
  parallel: true
